* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden !important;
}

@font-face {
  font-family: "franie";
  src: url("fonts/franie/Franie-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "franieBold";
  src: url("fonts/franie/Franie-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.franie {
  font-family: "franie", sans-serif;
}

.franieBold {
  font-family: "franieBold", sans-serif;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px); /* A seta sobe 15px */
  }
  100% {
    transform: translateY(0); /* A seta volta para a posição inicial */
  }
}

.animated-arrow {
  animation: moveUpDown 1.5s ease-in-out infinite; /* Aplica a animação com duração de 1.5s, suavização e repetição infinita */
}
